name: flutter_smenus
description: Flutter package for all sorts of menus from dropdowns to sliding to resizable to navigation menus
version: 2.0.0
homepage: https://github.com/svparekh/FlutterMenus
repository: https://github.com/svparekh/FlutterMenus

environment:
  sdk: '>=2.19.4 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
    
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:

